/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	background-image: url("images/milky-way-2675322_1920-compressor.jpg");
	color: white;
	font-family: "gill sans", sans-serif;
}

ol,
ul {
	list-style: none;
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Navigation
---------*/

.topnav {
	border: 1px solid black;
	position: fixed;
	top: 0px;
	width: 100%;
	display: flex;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
	z-index: 3;
}

.topnav a {
	float: right;
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 27px;
}

.topnav .icon {
	display: none;
}

#main-heading {
	flex: 1;
	float: left;
	color: white;
	padding: 14px 16px;
	font-size: 3em;
}

.nav-elements {
	flex: 1;
	float: right;
	padding: 0 10px 0 0;
}

.nav-element {
	margin: 5px 2px 0 2px;
	border-radius: 15px;
}

.nav-element:hover {
	color: black;
	background-color: white;
	transition: 0.4s;
	opacity: 0.7;
}

.nav-element:active {
	color: white;
	background-color: black;
	transition: 0.1s;
	opacity: 0.7;
}

.nav-elements:visited {
	background-color: grey;
}

.nav-current-page {
	opacity: 0.5;
}

.nav-current-page:hover {
	color: inherit;
	background-color: inherit;
	opacity: 0.5;
}


/* Index
---------*/

.index-info-api {
	margin: 150px 25% 0 25%;
	padding: 20px 20px 20px 20px;
	font-size: 1.5em;
	text-align: center;
	line-height: 1.8em;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	border-radius: 20px;
}

.countdown-wrap {
	text-align: center;
	margin: 150px 0 380px 0;
	font-size: 3em;
}

#section-2 {
	height: 0px;
}

#countdown:hover {
	opacity: 0.7;
	cursor: pointer;
	transition: 0.2s;
}

#countdown:active {
	opacity: 0.3;
	transition: 0.1s;
}

.index-text {
	margin: 50px 0 1000px 0;
}

.learn-more-index {
	color: white;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	margin: 15% 0 0 0;
}

.learn-more-index2 {
	color: white;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	margin: 10px 0 50px 0;
}

.learn-more-index3 {
	color: white;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	margin: 20px 0 30px 0;
	padding: 5px 0;
}

.or {
	margin: 10px 0;
}

.learn-more-index a,
.learn-more-index2 a,
.learn-more-index3 a {
	text-decoration: none;
	color: white;
	border: 2px solid grey;
	border-radius: 20px;
	padding: 5px 20px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.learn-more-index a:hover,
.learn-more-index2 a:hover,
.learn-more-index3 a:hover {
	color: black;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
	transition: 0.5s;
}

.learn-more-index a:active,
.learn-more-index2 a:active,
.learn-more-index3 a:active {
	color: white;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	transition: 0.5s;
}

.index-text {
	text-align: center;
	margin: 150px 20% 10px 20%;
	line-height: 30px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.making-history-heading {
	font-size: 60px;
	margin: 20px 0 50px 0;
	padding: 15px 0 0 0;
	line-height: 1;
}

.making-history-text {
	font-size: 1.5em;
	margin: 10px 0 30px 0;
	padding: 0 0 15px 0;
}

.video-info {
	text-align: center;
}

.video {
	width: 50%;
	height: auto;
}

.spacex-video {
	text-align: center;
	margin: 0 0 30px 0;
}

.spacex-video iframe {
	min-width: 200px;
	min-height: 200px;
	max-height: 800px;
	max-width: 1000px;
}

.contact a {
	text-decoration: none;
	color: inherit;
}

.contact:hover {
	opacity: 0.7;
	transition: 0.2s;
}

.indexApi1 {
	font-size: 35px;
	margin: 150px 0 0 0;
}

.indexApi2 {
	font-size: 25px;
	padding: 50px 5% 0 5%;
	margin: 20px 15px 20px 15px;
	font-weight: 100;
}

.indexApi3 {
	font-size: 20px;
	padding: 20px 20% 0 20%;
	font-weight: 100;
}

.indexApi4 {
	font-size: 20px;
	padding: 20px 20% 0 20%;
	font-weight: 100;
}

.indexApi5 {
	font-size: 20px;
	padding: 20px 20% 0 20%;
	font-weight: 100;
}


/* Upcomming
-------------*/


/* New concept
-------------*/

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	transition: 0.5s;
}


/* New concept
-------------*/

.year,
.year2 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.5em;
}

.year2 {
	margin-bottom: 250px;
}

.index-wrap {
	display: flex;
	min-width: 0;
	min-height: 0;
}

.index-left-wrap {
	display: flex;
}

.index-left {
	flex: 5;
	background-color: none;
	padding: 0 0 0 50px;
}

.index-left1 {
	flex: 0.4;
	margin-top: 0px;
	border-right: 2px solid white;
}

.index-right-wrap {
	display: flex;
	min-width: 0;
	min-height: 0;
}

.index-right {
	flex: 5;
	background-color: none;
	padding: 0 50px 0 0;
}

.index-right1 {
	flex: 0.4;
	border-left: 2px solid white;
}

.upcomming-heading {
	color: white;
	text-align: center;
	border-bottom: 4px solid white;
	margin: 100px 0 0 0;
}

.upcomming-heading h2 {
	font-size: 2em;
	padding: 0 0 10px 0;
}

.content-1 {
	margin: 100px 0 0 0;
	border: 2px solid grey;
	border-radius: 60px;
	padding: 5px 20px 5px 20px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	max-height: 300px;
}

.content-1:hover {
	opacity: 0.9;
	cursor: pointer;
}

.content-1:active {
	opacity: 0.5;
	transition: 0.2s;
}

.content-1-1 {
	text-align: center;
	color: whitesmoke;
	min-height: 200px;
	max-height: 200px;
	overflow: scroll;
}

.content-1-1 h3 {
	font-size: 1.2em;
	padding: 0 0 5px 0;
}

.content-1-1 p {
	padding: 0 0 10px 0;
	line-height: 20px;
}

.learn-more-button {
	color: inherit;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	padding: 2px 5px 0 5px;
	margin: 2px 0 2px 0;
}

.launch-date {
	margin: 200px 0 0 1px;
	border-bottom: 3px solid grey;
}

.launch-date2 {
	margin: 245px 0px 0 1px;
	border-bottom: 3px solid grey;
}

.launch-date3 {
	margin: 340px 0 0 1px;
	border-bottom: 3px solid grey;
}

.launch-date4 {
	margin: 250px 0px 0 1px;
	border-bottom: 3px solid grey;
}

.content-1-2 {
	text-align: center;
	color: whitesmoke;
	overflow: hidden;
}

.boxApi1 {
	font-size: 3em;
	margin: 150px 0 0 0;
}

.boxApi2 {
	font-size: 25px;
	padding: 50px 5% 0 5%;
	margin: 20px 15px 20px 15px;
	font-weight: 100;
}

.boxApi3 {
	font-size: 20px;
	padding: 20px 20% 0 20%;
	font-weight: 100;
}

.boxApi4 {
	font-size: 20px;
	padding: 20px 20% 0 20%;
	font-weight: 100;
}

.boxApi5 {
	font-size: 20px;
	padding: 20px 20% 0 20%;
	font-weight: 100;
}

.closebtn {
	position: absolute;
	top: 120px;
	right: 45px;
	font-size: 60px;
	text-decoration: none;
	color: inherit;
}

.closebtn:hover {
	opacity: 0.8;
	cursor: pointer;
	transition: 0.5s;
}

.closebtn:active {
	opacity: 0.3;
}

.phoneApi3 p {
	visibility: collapse;
	font-size: 0px;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.upcomming-click {
	font-size: 12px;
}


/* Learn more
-------------*/

.learn-content-wrap {
	display: flex;
}

.learn-content-left,
.learn-content-right {
	flex: 1;
}

.history-wrap {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	border: 2px solid grey;
	border-radius: 50px;
	margin: 50px 10% 0 10%;
	padding: 5px 0 10px 0;
}

.history-text {
	height: 50px;
	overflow: hidden;
	padding: 0 0 10px 0;
}

.history-wrap:hover {
	cursor: pointer;
	opacity: 0.9;
}

.learn-wrap {
	text-align: center;
	margin: 100px 0 0 0;
	font-size: 2em;
}

.history-header {}

.history-api1,
.mission-api1 {
	padding: 10px 0 0 0;
	font-size: 2em;
	text-align: center;
}

.history-api2,
.mission-api2,
.history-api3 {
	padding: 5px 20px 20px 20px;
	line-height: 25px;
}

.mission-link {
	text-align: center;
	margin: 10px 0 15px 0;
}

.mission-api3 a {
	text-decoration: none;
	color: white;
	border: 2px solid grey;
	border-radius: 20px;
	padding: 5px 20px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.mission-api3 a:hover {
	color: black;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
	transition: 0.5s;
}

.mission-api3 a:active {
	color: white;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	transition: 0.5s;
}

.ps {
	text-align: center;
}


/* Contact
-------------*/

.contact-wrap {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	border: 2px solid grey;
	border-radius: 50px;
	margin: 100px 10% 100px 10%;
	padding: 0 0 50px 0;
}

.contact-header {
	font-size: 3em;
	text-align: center;
	margin: 100px 0 0 0;
}

.contact-text {
	margin: 30px 0 0 0;
	padding: 0 30% 0 30%;
	font-size: 1.5em;
	line-height: 40px;
}

.contactform {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	margin: 50px 0 0 0;
	padding: 10px 10% 10px 10%;
	box-sizing: border-box;
	resize: vertical;
	width: 100%;
}

.input {
	padding: 5px 0 5px 0;
	margin: 5px 0 5px 0;
	width: 100%;
}

.error {
	color: red;
	display: none;
}


/* Footer
---------*/

.wrap-wrap {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
	margin: 50px 0 0 0;
}

.footer-wrap {
	padding: 10px;
	display: flex;
}

.footer-copy {
	text-align: center;
	padding: 30px 0 20px 1%;
	text-decoration: none;
	color: inherit;
}

.footer-copy a {
	text-decoration: none;
	color: inherit;
}

.footer-copy:hover {
	opacity: 0.7;
	cursor: pointer;
	transition: 0.2s;
}

.footer-left {
	flex: 1;
	padding: 20px 0 20px 10%;
	text-align: center;
}

.follow-footer {
	padding: 0 0 10px 0;
}

.footer-right {
	flex: 1;
	padding: 20px 10% 20px 0;
	text-align: center;
}

.footer-heading {
	font-size: 30px;
	font-weight: 100;
	padding: 10px 0 20px 0;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 15px;
	border-radius: 50%;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 15px;
	border-radius: 50%;
}

.fa-instagram {
	background: #125688;
	color: white;
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 15px;
	border-radius: 50%;
}

.fa-snapchat-ghost {
	background: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 10px;
	font-size: 30px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 15px;
	border-radius: 50%;
}


/* Tablets
-------------------------*/

@media screen and (min-width: 481px) and (max-width: 780px) {
	/* Index tablet
---------*/
	.index-info-api {
		margin: 150px 10% 0 10%;
	}
	.countdown-wrap {
		margin: 150px 0 180px 0;
	}
	.index-text {
		margin: 50px 0 1000px 0;
	}
	.index-text {
		text-align: center;
		margin: 150px 5% 10px 5%;
		line-height: 25px;
	}
	.making-history-heading {
		margin: 20px 0 50px 0;
		padding: 15px 0 0 0;
		line-height: 50px;
	}
	.making-history-text {
		font-size: 1.5em;
		margin: 10px 0 30px 0;
		padding: 0 0 15px 0;
	}
	.learn-more-index {
		color: white;
		text-align: center;
		font-size: 1.5em;
		text-decoration: none;
		margin: 15% 0 0 0;
	}
	.learn-more-index2 {
		color: white;
		text-align: center;
		font-size: 1.5em;
		text-decoration: none;
		margin: 10px 0 50px 0;
	}
	.learn-more-index3 {
		margin: 10px 0 50px 0;
		font-size: 20px;
	}
	.or {
		margin: 5px 0;
	}
	.learn-more-index a,
	.learn-more-index2 a,
	.learn-more-index3 a {
		text-decoration: none;
		color: white;
		border: 2px solid grey;
		border-radius: 20px;
		padding: 5px 20px;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	}
	.indexApi1 {
		font-size: 30px;
		margin: 120px 0 0 0;
	}
	.indexApi2 {
		font-size: 18px;
		padding: 5px 5% 0 5%;
		margin: 10px 10px 5px 10px;
		line-height: 1.2;
		max-height: 150px;
		overflow: scroll;
	}
	.indexApi3 {
		font-size: 18px;
		padding: 10px 20% 0 20%;
	}
	.indexApi4 {
		font-size: 18px;
		padding: 10px 20% 0 20%;
	}
	.indexApi5 {
		font-size: 18px;
		padding: 10px 5% 0 5%;
	}
	/* Responsive nav tablet
-----------------------*/
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: fixed;
	}
	.topnav.responsive a.icon {
		position: fixed;
		right: 9px;
		top: 1px;
	}
	.topnav.responsive a {
		margin: 0 0 0 0;
		float: none;
		display: block;
		text-align: center;
	}
	#main-heading {
		margin: 0 0 0px 0;
		font-size: 2.5em;
	}
	a.nav-element {
		padding: 80px 0 40px 0;
		font-size: 2em;
	}
	.nav-element {
		border: none;
		margin: 0 0 0 0;
	}
	.nav-element:hover {
		color: white;
		background-color: inherit;
		transition: 0.4s;
		opacity: 0.7
	}
	.nav-element:active {
		opacity: 0.5;
	}
	/* Upcomming tablet
-------------------*/
	.index-left {
		padding: 0 0 0 10px;
	}
	.index-right {
		padding: 0 10px 0 0;
	}
	.upcomming-heading {
		margin: 150px 0 0 0;
	}
	.content-1 {
		border-radius: 40px;
		padding: 10px 0 0 0;
	}
	.content-1-1 {
		min-height: 200px;
		max-height: 200px;
	}
	.content-1-1 h3 {
		font-size: 1.2em;
		padding: 0 0 10px 0;
	}
	.content-1-1 p {
		padding: 0 0 10px 0;
		line-height: 20px;
		font-size: 13px;
	}
	.learn-more-button {
		color: inherit;
		text-decoration: none;
		border: 1px solid white;
		border-radius: 10px;
		padding: 2px 5px 0 5px;
		margin: 2px 0 2px 0;
	}
	.launch-date {
		margin: 212px 0 0 0;
		border-bottom: 3px solid grey;
		font-size: 12px;
	}
	.launch-date2 {
		margin: 265px 0 0 0;
		border-bottom: 3px solid grey;
		font-size: 12px;
	}
	.launch-date3 {
		margin: 340px 0 0 0;
		border-bottom: 3px solid grey;
		font-size: 12px;
	}
	.launch-date4 {
		margin: 265px 0 0 0;
		border-bottom: 3px solid grey;
		font-size: 12px;
	}
	.content-1-2 {
		text-align: center;
		color: whitesmoke;
		overflow: hidden;
	}
	.boxApi1 {
		font-size: 30px;
		margin: 120px 0 0 0;
	}
	.boxApi2 {
		font-size: 18px;
		padding: 5px 5% 0 5%;
		margin: 10px 10px 5px 10px;
		line-height: 1.2;
		max-height: 150px;
		overflow: scroll;
	}
	.boxApi3 {
		font-size: 18px;
		padding: 10px 20% 0 20%;
	}
	.boxApi4 {
		font-size: 18px;
		padding: 10px 20% 0 20%;
	}
	.boxApi5 {
		font-size: 18px;
		padding: 10px 5% 0 5%;
	}
	.closebtn {
		top: 80px;
		right: 15px;
		font-size: 30px;
	}
	.phoneApi3 p {
		visibility: collapse;
		font-size: 0px;
		line-height: 0;
		margin: 0;
		padding: 0;
	}
	/* Learn more tablet
-------------------*/
	.learn-content-wrap {
		flex-direction: column-reverse;
		margin: 50px 0 0 0;
	}
	.learn-content-left {
		flex
	}
	.learn-content-right {}
	.history-wrap {
		margin: 25px 5% 0 5%;
	}
	.history-text {
		height: 60px;
		overflow: hidden;
	}
	.history-wrap:hover {
		opacity: 0.9;
	}
	.learn-wrap {
		text-align: center;
		margin: 60px 0 50px 0;
		font-size: 2.4em;
	}
	.history-api1,
	.mission-api1 {
		padding: 10px 0 10px 0;
		font-size: 1.5em;
		text-align: center;
		border-bottom: 1px solid grey;
	}
	.history-api2,
	.mission-api2,
	.history-api3 {
		padding: 5px 20px 20px 20px;
		line-height: 25px;
	}
	.mission-link {
		text-align: center;
		margin: 30px 0 25px 0;
	}
	.mission-api3 a {
		text-decoration: none;
		color: white;
		border: 2px solid grey;
		border-radius: 20px;
		padding: 5px 20px;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	}
	.mission-api3 a:hover {
		color: black;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
		transition: 0.5s;
	}
	.mission-api3 a:active {
		color: white;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		transition: 0.5s;
	}
	/* Contact tablet
-----------------*/
	.contact-text {
		padding: 0 5% 0 5%;
		font-size: 1.3em;
	}
	/* Footer phone
-----------------*/
	.wrap-wrap {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
	}
	.footer-wrap {
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
	.footer-left {
		flex: 1;
		padding: 20px 0 20px 0;
		text-align: center;
	}
	.follow-footer {
		padding: 0 0 10px 0;
	}
	.footer-right {
		flex: 1;
		padding: 20px 0 20px 0;
		text-align: center;
	}
	.footer-heading {
		font-size: 30px;
		font-weight: 100;
		padding: 10px 0 20px 0;
	}
	.footer-copy {
		text-align: center;
		padding: 10px 0 20px 0;
		text-decoration: none;
		color: inherit;
	}
	.footer-copy a {
		text-decoration: none;
		color: inherit;
	}
	.footer-copy:hover {
		opacity: 0.7;
		cursor: pointer;
		transition: 0.2s;
	}
	.fa {
		padding: 10px;
		font-size: 30px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		margin: 5px 15px;
		border-radius: 50%;
	}
	.fa:hover {
		opacity: 0.7;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	.fa-twitter {
		background: #55ACEE;
		color: white;
	}
	.fa-instagram {
		background: #125688;
		color: white;
	}
	.fa-snapchat-ghost {
		background: #fffc00;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
    
/* Tablets end bracket!
-----------------*/
}
/* Tablets end bracket!
-----------------*/


/* Phone
---------*/

@media screen and (max-width: 480px) {
    
	/* Index
---------*/
	.index-content {
		margin: 140px 0 0 0;
	}
	.index-info-api {
		margin: 50px 10% 0 10%;
		font-size: 1.2em;
	}
	.countdown-wrap {
		margin: 10px 0 30px 0;
		font-size: 2em;
	}
	.index-text {
		margin: 50px 0 1000px 0;
	}
	.learn-more-index {
		font-size: 20px;
		margin: 15% 0 0 0;
	}
	.learn-more-index2 {
		margin: 10px 0 50px 0;
		font-size: 1.5em;
	}
	.learn-more-index3 {
		margin: 10px 0 50px 0;
		font-size: 15px;
	}
	.or {
		margin: 5px 0;
	}
	.index-text {
		text-align: center;
		margin: 150px 5% 10px 5%;
		line-height: 25px;
	}
	.making-history-heading {
		margin: 20px 0 30px 0;
		padding: 15px 0 0 0;
		line-height: 40px;
		font-size: 2em;
	}
	.making-history-text {
		font-size: 1.2em;
		margin: 10px 0 10px 0;
		padding: 0 0 15px 0;
	}
	.video-info {
		text-align: center;
	}
	.spacex-video {
		text-align: center;
		margin: 0 0 10px 0;
	}
	.indexApi1 {
		font-size: 25px;
		margin: 120px 0 0 0;
	}
	.indexApi2 {
		font-size: 15px;
		padding: 10px 5% 0 5%;
		margin: 10px 10px 10px 10px;
		line-height: 1.2;
		max-height: 250px;
		overflow: scroll;
	}
	.indexApi3 {
		font-size: 15px;
		padding: 10px 20% 0 20%;
	}
	.indexApi4 {
		font-size: 15px;
		padding: 10px 20% 0 20%;
	}
	.indexApi5 {
		font-size: 15px;
		padding: 10px 5% 0 5%;
	}
	/* Responsive nav phone
-----------------------*/
	.topnav.responsive a {
		text-align: center;
	}
	a.nav-element {
		padding: 80px 0 20px 0;
		font-size: 2em;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: fixed;
	}
	.topnav.responsive a.icon {
		position: fixed;
		right: 9px;
		top: 1px;
	}
	.topnav.responsive a {
		margin: 0 0 0 0;
		float: none;
		display: block;
		text-align: center;
	}
	#main-heading {
		margin: 0 0 0px 0;
		font-size: 2.5em;
	}
	.nav-element {
		border: none;
		margin: 0 0 0 0;
	}
	.nav-element:hover {
		color: white;
		background-color: inherit;
		transition: 0.4s;
		opacity: 0.7
	}
	.nav-element:active {
		opacity: 0.5;
	}
	/* Upcomming phone
------------------*/
	.index-left1 {
		flex: none;
		display: none;
	}
	.index-right1 {
		flex: none;
		display: none;
	}
	.index-left {
		padding: 0 10px 0 10px;
		border-right: 1px solid white;
	}
	.index-right {
		padding: 0 10px 0 10px;
		border-left: 1px solid white;
	}
	.upcomming-heading {
		margin: 150px 0 0 0;
	}
	.content-1 {
		border-radius: 40px;
		padding: 10px 0 0 0;
	}
	.content-1-1 {
		min-height: 300px;
		max-height: 320px;
		overflow: scroll;
	}
	.content-1-1 h3 {
		padding: 0 5px 10px 5px;
		font-size: 16px;
	}
	.content-1-1 p {
		padding: 0 0 10px 0;
		line-height: 20px;
		font-size: 12px;
	}
	.learn-more-button {
		color: inherit;
		text-decoration: none;
		border: 1px solid white;
		border-radius: 10px;
		padding: 2px 5px 0 5px;
		margin: 2px 0 2px 0;
	}
	.launch-date {
		margin: 250px 0 0 0;
	}
	.launch-date2 {
		margin: 370px 0 0 0;
	}
	.launch-date3 {
		margin: 300px 0 0 0;
	}
	.launch-date4 {
		margin: 370px 0 0 0;
	}
	.content-1-2 {
		text-align: center;
		color: whitesmoke;
		overflow: scroll;
	}
	.boxApi1 {
		font-size: 25px;
		margin: 120px 0 0 0;
	}
	.boxApi2 {
		font-size: 15px;
		padding: 10px 5% 0 5%;
		margin: 10px 10px 10px 10px;
		line-height: 1.2;
		max-height: 250px;
		overflow: scroll;
	}
	.boxApi3 {
		font-size: 15px;
		padding: 10px 20% 0 20%;
	}
	.boxApi4 {
		font-size: 15px;
		padding: 10px 20% 0 20%;
	}
	.boxApi5 {
		font-size: 15px;
		padding: 10px 5% 0 5%;
	}
	.closebtn {
		top: 80px;
		right: 15px;
		font-size: 30px;
	}
	.year2 {
		margin-bottom: 0px;
	}
	.phoneApi3 p {
		visibility: visible;
		font-size: 12px;
		line-height: 1.1;
	}
	.upcomming-click p {
		font-size: 8px;
	}
	/* Learn more phone
-------------------*/
	.learn-content-wrap {
		flex-direction: column-reverse;
		margin: 100px 0 0 0;
	}
	.history-wrap {
		margin: 25px 5% 0 5%;
	}
	.history-text {
		height: 60px;
		overflow: hidden;
	}
	.history-wrap:hover {
		opacity: 0.9;
	}
	.learn-wrap {
		text-align: center;
		margin: 60px 0 50px 0;
		font-size: 2.4em;
	}
	.history-api1,
	.mission-api1 {
		padding: 10px 0 10px 0;
		padding: 0 15px;
		font-size: 1.5em;
		text-align: center;
		border-bottom: 1px solid grey;
	}
	.history-api2,
	.mission-api2,
	.history-api3 {
		padding: 5px 20px 20px 20px;
		line-height: 25px;
	}
	.mission-link {
		text-align: center;
		margin: 30px 0 25px 0;
	}
	.mission-api3 a {
		text-decoration: none;
		color: white;
		border: 2px solid grey;
		border-radius: 20px;
		padding: 5px 20px;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	}
	.mission-api3 a:hover {
		color: black;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
		transition: 0.5s;
	}
	.mission-api3 a:active {
		color: white;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		transition: 0.5s;
	}
	/* Contact phone
----------------*/
	.contact-text {
		padding: 0 5% 0 5%;
		font-size: 1.3em;
	}
	/* Footer phone
-----------------*/
	.wrap-wrap {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
	}
	.footer-wrap {
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
	.footer-left {
		flex: 1;
		padding: 10px 0 10px 0;
		text-align: center;
	}
	.follow-footer {
		padding: 0 0 10px 0;
	}
	.footer-right {
		flex: 1;
		padding: 20px 0 10px 0;
		text-align: center;
	}
	.footer-heading {
		font-size: 30px;
		font-weight: 100;
		padding: 10px 0 10px 0;
	}
	.footer-copy {
		text-align: center;
		padding: 10px 0 20px 0;
		text-decoration: none;
		color: inherit;
	}
	.footer-copy a {
		text-decoration: none;
		color: inherit;
	}
	.footer-copy:hover {
		opacity: 0.7;
		cursor: pointer;
		transition: 0.2s;
	}
	.fa {
		padding: 10px;
		font-size: 30px;
		width: 20px;
		text-align: center;
		text-decoration: none;
		margin: 5px 15px;
		border-radius: 50%;
	}
	.fa:hover {
		opacity: 0.7;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	.fa-twitter {
		background: #55ACEE;
		color: white;
	}
	.fa-instagram {
		background: #125688;
		color: white;
	}
	.fa-snapchat-ghost {
		background: #fffc00;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	/* Phone end bracket!
-----------------*/
}
/* Phone end bracket!
-----------------*/